/* .parent-login-css {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
}
.login-css {
  width: 40rem;
  height: 40%;
  align-items: center;
  background-color: aliceblue;
} */
